<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="webpg.keymanager">
<head>
  <title>WebPG Key Manager</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link type="text/css" href="skin/keymanager.css" rel="stylesheet" />
  <link type="text/css" href="resources/jquery/css/dot-luv/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
  <link type="text/css" href="resources/jquery/css/jquery.multiselect.css" rel="stylesheet" />
  <link type="text/css" href="resources/jquery/css/jquery.multiselect.filter.css" rel="stylesheet" />
  <script type="text/javascript" src="resources/jquery/js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="resources/jquery/js/jquery-ui-1.10.3.custom.min.js"></script>
  <script type="text/javascript" src="resources/jquery/js/jquery.passwordStrength.js"></script>
  <script type="text/javascript" src="resources/jquery/js/jquery.multiselect.js"></script>
  <script type="text/javascript" src="resources/jquery/js/jquery.multiselect.filter.js"></script>
  <script type="text/javascript" src="resources/angularjs/angular.min.js"></script>
  <script type="text/javascript" src="resources/angularjs/angular-ui.min.js"></script>
  <script type="text/javascript" src="constants.js"></script>
  <script type="text/javascript" src="utils.js"></script>
  <script type="text/javascript" src="preferences.js"></script>
  <script type="text/javascript" src="key_manager.js"></script>
  <script type="text/javascript" src="buttonbar.js"></script>
</head>

<body ng-controller="keymanagerCtrl">
<!--  <div style="height: 64px; witdth:100%; background-color:#fff; border: 2px solid #18f;">&nbsp;</div>-->
  <div data-keymanager-tabs id="tabs">
    <ul>
      <li><a id="tab-privatekeys" href="#tabs-2"></a></li>
      <li><a id="tab-publickeys" href="#tabs-3"></a></li>
      <li><a id="tab-search" href="#tabs-4"></a></li>
      <span id="webpg-buttonbar" class="webpg-buttonbar ui-widget-header ui-corner-all">
        <button id="refreshbutton"></button>
        <button id="importbutton"></button>
        <button id="genkeybutton"></button>
        <button id="optionsbutton"></button>
        <button id="aboutbutton"></button>
        <button id="docsbutton"></button>
      </span>
      <span class="webpg-info-version"><span id="webpg-info-version-string"></span>
    </ul>
    <div id="tabs-2" ng-init="type='private'">
      <div id="private_keylist" ng-controller="keylistCtrl">
        <span id="private_progressbar" class="keylist-progress"><span class="progress-label"></span></span>
        <div class='pubkey-search'>
          <label class="pubkey-search-lbl" for="prikey-search"></label>
          <input type="search" ng-model="query" ng-change="search()" class="ui-corner-all ui-widget ui-state-default" id="prikey-search" placeholder="i.e. 'John Doe' or 'size:4096'" />
          <br/>
          <br/>
        </div>

        <div class="primary_key" ng-class="[key.revoked?'invalid-key':key.expired?'invalid-key':key.disabled?'invalid-key':'',openkey===key.id?'openkey':'']"  ng-repeat="key in pagedItems[currentPage] track by $index | orderBy:sortingOrder:reverse">
          <primarykey/>
        </div>

        <div class="pagination pull-right">
          <ul>
            <li ng-class="{disabled: currentPage == 0}">
              <a href ng-click="prevPage()">Prev</a>
            </li>
            <li ng-repeat="n in range(pagedItems.length)" ng-class="{'active': n == currentPage}" ng-click="setPage()">
              <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
              <a href ng-click="nextPage()">Next</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div id="tabs-3" ng-init="type='public'">
      <div id="public_keylist" ng-controller="keylistCtrl">
        <span id="public_progressbar" class="keylist-progress"><span class="progress-label"></span></span>
        <div class='pubkey-search'>
          <label class="pubkey-search-lbl" for="pubkey-search"></label>
          <input type="search" ng-model="query" ng-change="search()" class="ui-corner-all ui-widget ui-state-default" id="pubkey-search" placeholder="i.e. 'John Doe' or 'size:4096'" />
          <br/>
          <br/>
        </div>

        <div class="primary_key" ng-class="[key.revoked?'invalid-key': key.expired?'invalid-key': key.disabled?'invalid-key':'']" ng-repeat="key in pagedItems[currentPage] track by $index | orderBy:sortingOrder:reverse">
          <primarykey/>
        </div>

        <div class="pagination pull-right">
          <ul>
            <li ng-class="{disabled: currentPage == 0}">
              <a href ng-click="prevPage()">Prev</a>
            </li>
            <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
              <a href ng-class="{'active': n != currentPage}" ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
              <a href ng-click="nextPage()">Next</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div id="tabs-4">
      <div class='pubkey-search'>
        <label id="keyserver-search-lbl" for="keyserver-search"></label>
        <input class="ui-corner-all ui-widget ui-state-default" id="keyserver-search" />
        <br/>
        <br/>
      </div>
      <div id="import-body">
        <div class="ui-accordion-left"></div>
      </div>
    </div>
  </div>
  <div id="revkey-confirm" style="display:none;" title="Revoke this Key?">
    <p><span class="ui-icon ui-icon-help" style="float:left; margin:0 7px 20px 0;"></span><span id='revkey-text'></span>
    </p>
  </div>
  <div id="revuid-confirm" style="display:none;" title="Revoke this UID?">
    <p><span class="ui-icon ui-icon-help" style="float:left; margin:0 7px 20px 0;"></span><span id='revuid-text'></span>
    </p>
  </div>
  <div id="revsig-confirm" style="display:none;" title="Revoke this Signature?">
    <p><span class="ui-icon ui-icon-help" style="float:left; margin:0 7px 20px 0;"></span><span id='revsig-text'></span>
    </p>
  </div>
  <div id="delsig-confirm" style="display:none;" title="Delete this Signature?">
    <p><span class="ui-icon ui-icon-help" style="float:left; margin:0 7px 20px 0;"></span><span id='delsig-text'></span>
    </p>
  </div>
  <div id="deluid-confirm" style="display:none;" title="Delete this UID?">
    <p><span class="ui-icon ui-icon-help" style="float:left; margin:0 7px 20px 0;"></span><span id='deluid-text'></span>
    </p>
  </div>
  <div id="delphoto-confirm" style="display:none;" title="Delete this Photo?">
    <p><span class="ui-icon ui-icon-help" style="float:left; margin:0 7px 20px 0;"></span><span id='delphoto-text'></span>
    </p>
  </div>
  <div id="keyexp-dialog" style="display:none;" title="Change Key Expiration">
    <p><span class="ui-icon ui-icon-calendar" style="float:left; margin:0 7px 20px 0;"></span><span id='keyexp-text'></span>
      <div id="keyexp-buttonset" style="margin-bottom:4px;">
        <input type="radio" name="keyexp-type-radio" id="keyexp-never" />
        <label id="keyexp-never" for="keyexp-never"></label>
        <input type="radio" name="keyexp-type-radio" id="keyexp-ondate" />
        <label id="keyexp-ondate" for="keyexp-ondate"></label>
      </div>
      <div style="margin:0 32px;">
        <div id="keyexp-date-input"></div>
      </div>
    </p>
  </div>
  <div id="delete-key-dialog-confirm" style="display:none;" title="Delete this key?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><span id="delete-key-confirm-text"></span>
    </p>
  </div>
  <div id="createsig-dialog" style="display:none;" title="Sign this UID">
    <form id="createsig-form" style="width:100%; height:100px;"></form>
  </div>
  <div id="genkey-dialog" style="display:none;" title="Key Details" style="font-size:14px;">
    <p>
      <span id='genkey-text'>
        </span>
      <form id="genkey-form" style="width:100%; height:100px;">
        <label for='uid_0_name' style='display:inline-block;width:128px;'></label>
        <input type='text' class="ui-corner-all ui-widget ui-state-default" id='uid_0_name' name='uid_0_name' /><span class='help-text'>i.e.: John Smith</span>
        <br/>
        <label for='uid_0_email' style='display:inline-block;width:128px;'></label>
        <input type='text' class="ui-corner-all ui-widget ui-state-default" id='uid_0_email' name='uid_0_email' /><span class='help-text'>i.e.: john.smith@example.com</span>
        <br/>
        <label for='uid_0_comment' style='display:inline-block;width:128px;'></label>
        <input type='text' class="ui-corner-all ui-widget ui-state-default" id='uid_0_comment' name='uid_0_comment' /><span class='help-text'>i.e.: for XYZ use only</span>
        <br/>
        <label for='passphrase' style='display:inline-block;width:132px;'></label>
        <input class="passphrase ui-corner-all ui-widget ui-state-default" type=password name="passphrase" id="passphrase" />
        <br/>
        <label for='pass_repeat' style='display:inline-block;width:132px;'></label>
        <input class="pass_repeat ui-corner-all ui-widget ui-state-default" type=password name="pass_repeat" id="pass_repeat" />
        <ul class="expand">
          <li class="trigger">
            <h4><strong></strong></h4>
          </li>
          <li>
            <ul>
              <li class='option'>
                <label for='publicKey_algo'></label>
                <select id='publicKey_algo' class="key-algo ui-add-hover ui-corner-all ui-widget ui-state-default">
                  <option value="DSA" class="ui-state-default">DSA</option>
                  <option value="RSA" class="ui-state-default" selected>RSA</option>
                </select>
              </li>
              <li class='option'>
                <label for='publicKey_size'></label>
                <select id='publicKey_size' class="key-size ui-add-hover ui-corner-all ui-widget ui-state-default">
                  <option valud="512" class="ui-state-default">512</option>
                  <option value="1024" class="ui-state-default">1024</option>
                  <option value="2048" class="ui-state-default" selected>2048</option>
                  <option value="3072" class="ui-state-default">3072</option>
                  <option value="4096" class="ui-state-default">4096</option>
                </select>
              </li>
              <hr>
              <li class='option'>
                <label for='subKey_algo'></label>
                <select id='subKey_algo' class="key-algo ui-add-hover ui-corner-all ui-widget ui-state-default">
                  <option value="DSA" class="ui-state-default">DSA</option>
                  <option value="RSA" class="ui-state-default" selected>RSA</option>
                  <option value="ELG-E" class="ui-state-default">ElGamel</option>
                </select>
              </li>
              <li class='option'>
                <label for='subKey_size'></label>
                <select id='subKey_size' class="key-size ui-add-hover ui-button ui-corner-all ui-widget ui-state-default">
                  <option value="512" class="ui-state-default">512</option>
                  <option value="1024" class="ui-state-default">1024</option>
                  <option value="2048" class="ui-state-default" selected>2048</option>
                  <option value="3072" class="ui-state-default">3072</option>
                  <option value="4096" class="ui-state-default">4096</option>
                </select>
              </li>
              <hr>
              <li class='option'>
                <label for='key_expire'></label>
                <select id='key_expire' class="key-expire ui-add-hover ui-corner-all ui-widget ui-state-default">
                  <option value="0" class="ui-state-default">Never</option>
                  <option value="30" class="ui-state-default">30 days</option>
                  <option value="90" class="ui-state-default" selected>90 days</option>
                  <option value="365" class="ui-state-default">1 year</option>
                </select>
              </li>
            </ul>
          </li>
        </ul>
      </form>
    </p>
  </div>
  <div id="gensubkey-dialog" style="display:none;" title="Key Details" style="font-size:14px;">
    <p>
      <span id='gensubkey-text'></span>
      <form id="gensubkey-form" style="width:100%; height:100px;">
        <h4><strong></strong></h4>

        <input type="hidden" name="key_id" id="key_id" class="hidden" />
        <label for='gs_subKey_algo'></label>
        <div style="width:100%;text-align:center;">
          <select id='gs_subKey_algo' name='gs_subKey_algo' class="subkey-algo ui-add-hover ui-corner-all ui-widget ui-state-default">
            <option value="3" class="ui-state-default">DSA (sign only)</option>
            <option value="4" class="ui-state-default">RSA (sign only)</option>
            <option value="5" class="ui-state-default">Elgamal (encrypt only)</option>
            <option value="6" class="ui-state-default">RSA (encrypt only)</option>
            <option value="7" class="ui-state-default">DSA (set your own capabilities)</option>
            <option value="8" class="ui-state-default" selected>RSA (set your own capabilities)</option>
          </select>
          <div>
            <div id='subKey_flags' style="text-align:center;">
              <br/>
              <input type="checkbox" id="subkey-sign-flag" name="subkey_flags" checked/>
              <label for="subkey-sign-flag"></label>
              <input type="checkbox" id="subkey-enc-flag" name="subkey_flags" checked/>
              <label for="subkey-enc-flag"></label>
              <input type="checkbox" id="subkey-auth-flag" name="subkey_flags" checked/>
              <label for="subkey-auth-flag"></label>
              <br/>
              <br/>
            </div>
            <label for='gs_subKey_size'>Private Key Size</label>
            <select id='gs_subKey_size' name='gs_subKey_size' class="key-size ui-add-hover ui-button ui-corner-all ui-widget ui-state-default">
              <option value="512" class="ui-state-default">512</option>
              <option value="1024" class="ui-state-default">1024</option>
              <option value="2048" class="ui-state-default" selected>2048</option>
              <option value="3072" class="ui-state-default">3072</option>
              <option value="4096" class="ui-state-default">4096</option>
            </select>
            <br/>
            <label for='gs_key_expire'>Expire in</label>
            <select id='gs_key_expire' name="key_expire" class="key-expire ui-add-hover ui-corner-all ui-widget ui-state-default">
              <option value="0" class="ui-state-default" selected>Never</option>
              <option value="30" class="ui-state-default">30 days</option>
              <option value="90" class="ui-state-default">90 days</option>
              <option value="365" class="ui-state-default">1 year</option>
            </select>
          </div>
        </div>
      </form>
    </p>
    </div>
    <div id="export-dialog" style="display:none;" title="Export Public Key" style="font-size:14px;">
      <p style="display:inline">
        <span style="margin-top:-8px; margin-left:-2px; position:absolute; left:0;" id="export-dialog-msg"></span>
        <textarea id="export-dialog-copytext" style="margin-top:-35px; margin-left:-500px;"></textarea>
        <pre id="export-dialog-text"></pre>
      </p>
    </div>
    <div id="adduid-dialog" style="display:none;" style="font-size:14px;">
      <p>
        <span id='adduid-text'></span>
        <form id="adduid-form" style="width:100%;">
          <label for='au-uid_0_name' style='display:inline-block;width:128px;'></label>
          <input type='text' id='au-uid_0_name' name='uid_0_name' class="ui-corner-all ui-widget ui-state-default"/><span class='help-text'>i.e.: John Smith</span>
          <br/>
          <label for='au-uid_0_email' style='display:inline-block;width:128px;'></label>
          <input type='text' id='au-uid_0_email' name='uid_0_email' class="ui-corner-all ui-widget ui-state-default"/><span class='help-text'>i.e.: john.smith@example.com</span>
          <br/>
          <label for='au-uid_0_comment' style='display:inline-block;width:128px;'></label>
          <input type='text' id='au-uid_0_comment' name='uid_0_comment' class="ui-corner-all ui-widget ui-state-default"/><span class='help-text'>i.e.: uid for XYZ only</span>
          <br/>
        </form>
      </p>
    </div>
    <div id="importkey-dialog" style="display:none;" title="Import from file" style="font-size:14px;">
      <p>
        <span id='importkey-text'></span>
        <form id="importkey-form" style="width:100%;">
          <input type='file' id='importkey_name' name='importkey_name' style="float:left;left:30%;position:relative;" />
          <br/>
          <div id="import-list"></div>
        </form>
      </p>
    </div>
    <div id="addphoto-dialog" style="display:none;" title="Add Photo" style="font-size:14px;">
      <p>
        <span id='addphoto-text'></span>
        <form id="addphoto-form" style="width:100%;">
          <input type='file' id='ap-photo_name' name='ap-photo_name' style="float:left;left:30%;position:relative;" />
          <br/>
          <output id="list"></output>
        </form>
      </p>
    </div>
    <div id="dialog-modal" title="">
      <div id="dialog-msg"></div>
    </div>
</body>

</html>
