#webpg-action-menu {
    cursor:pointer;
    display:inline-block;
    width: auto;
}
#webpg-action-menu .webpg-current-action img {
    position:relative;
    top:4px;
    left:-4px;
}
#webpg-action-menu.rtl img {
    padding-left: 8px;
}
.webpg-subaction-btn {
    top: -1px;
}
.webpg-current-action {
    position:relative;
    top:-3px;
}
.webpg-action-list-icon {
    display:inline-block;
    width:0;
    height:0;
    text-indent:-99999px;
    *text-indent:0;
    position:relative;
    top:10px;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-top:4px solid #000000;
    opacity:0.7;
    content:"\2193";
}
.webpg-li-icon {
    width:20px;
    height:20px;
    padding:0 4px;
    margin:0;
    top:5px;
    display:inline-block;
    position:relative;
}
.webpg-subaction-list {
    background: #fff;
}
.webpg-status-line {
    color:#000;
    font-size:10.5px;
    text-shadow:#886 0.5px 1px 1px;
}
.webpg-gmail-status-line {
    height:auto !important;
    min-height:30px !important;
    margin: -2px 10px 0 10px !important;
    padding:0 6px 0 6px !important;
    background-color: rgb(239, 239, 239);
}
.webpg-gmail-status-line>td {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid rgba(127, 127, 127, 0.5);
}
.webpg-gmail-status-line>span {
    height:30px !important;
}
.webpg-gmail-status-line .stat-hold {
    padding:4px 4px 2px 6px;
    vertical-align:middle !important;
    line-height:30px !important;
}
.webpg-gmail-status-line .stat-hold:nth-child(1) {
    border-right: 1px solid rgba(127, 127, 127, 0.5);
    padding:3px 4px 0 0;
    float:left;
    line-height:inherit !important;
}
.webpg-gmail-status-line span img {
}
.webpg-status-line a {
    text-shadow:none;
}
@-moz-document domain("mail.google.com") {
    #webpg-action-menu {
        top:4px;
    }
    #webpg-action-menu.webpg-gmail-compose-inline {
        top:0;
    }
    .webpg-current-action {
        position:relative;
        top:-3px;
    }
    .webpg-action-list-icon {
        top: 10px;
    }
}
