#webpg-action-menu {
    cursor:pointer;
    display:inline-block;
    width: auto;
}
#webpg-action-menu .webpg-current-action img {
    position:relative;
    top:4px;
    left:-4px;
}
#webpg-action-menu.rtl img {
    padding-left: 8px;
}
.webpg-subaction-btn {
    top: -1px;
}
.webpg-current-action {
    position:relative;
    top:-3px;
}
.webpg-action-list-icon {
    display:inline-block;
    width:0;
    height:0;
    text-indent:-99999px;
    *text-indent:0;
    position:relative;
    top:10px;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-top:4px solid #000000;
    opacity:0.7;
    content:"\2193";
}
.webpg-li-icon {
    width:20px;
    height:20px;
    padding:0 4px;
    margin:0;
    top:5px;
    display:inline-block;
    position:relative;
}
.webpg-subaction-list {
    background: #fff;
}
.webpg-status-line {
    color:#f11;
    font-size:13px;
    text-shadow:#886 0.5px 1px 1px;
    border-radius:3px;
}
.webpg-gmail-status-line {
    float:left;
    position:relative;
    top:-8px;
    padding:2px;
}
div.webpg-gmail-status-line {
    display: inline-table;
    margin: 4px 0 0 8px;
}
.webpg-status-line a {
    text-shadow:none;
}
@-moz-document domain("mail.google.com") {
    #webpg-action-menu {
        top:4px;
    }
    #webpg-action-menu.webpg-gmail-compose-inline {
        top:0;
    }
    .webpg-current-action {
        position:relative;
        top:-3px;
    }
    .webpg-action-list-icon {
        top: 10px;
    }
}
