.webpg-menu {
	list-style-image: url("chrome://webpg-firefox/skin/images/webpg-16.png");
}
.webpg-menu-sign {
    list-style-image: url("chrome://webpg-firefox/skin/images/badges/stock_signature.png");
}
.webpg-menu-verif {
    list-style-image: url("chrome://webpg-firefox/skin/images/badges/stock_signature-ok.png");
}
.webpg-menu-crypt {
    list-style-image: url("chrome://webpg-firefox/skin/images/badges/stock_encrypted.png");
}
.webpg-menu-cryptsign {
    list-style-image: url("chrome://webpg-firefox/skin/images/badges/stock_encrypted_signed.png");
}
.webpg-menu-decrypt {
    list-style-image: url("chrome://webpg-firefox/skin/images/badges/stock_decrypted.png");
}
.webpg-menu-import {
    list-style-image: url("chrome://webpg-firefox/skin/images/badges/import.png");
}
.webpg-menu-export {
    list-style-image: url("chrome://webpg-firefox/skin/images/badges/export.png");
}
.webpg-menu-manager {
    list-style-image: url("chrome://webpg-firefox/skin/images/badges/stock_keypair.png");
}
.webpg-menu-options {
    list-style-image: url("chrome://webpg-firefox/skin/images/webpg-16.png");
}
.webpg-menu-about {
    list-style-image: url("chrome://webpg-firefox/skin/images/about-48.png");
}
#webpg-msg-btn, [place="palette"] > #webpg-msg-btn {
  list-style-image: url("chrome://webpg-firefox/skin/images/webpg-16.png") !important;
}
